@{
    Layout = "../Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">

    <h2>User List</h2>
    <br/>

    <div id="grid"></div>

</div>

@section Scripts{
<script>

    console.log("Script Loaded");

$(document).ready(function () {

    $("#grid").kendoGrid({

        dataSource: {
            transport: {
                read: {
                    url: '@Url.Action("GetAllUsersData","Admin")',
                    type: "GET",
                    dataType: "json"
                }
            },

            schema: {
                data: function (response) {
                    console.log("API Response:", response);
                    return response;
                },
                model: {
                    id: "c_UserId",
                    fields: {
                        c_UserId: { type: "number" },
                        c_UserName: {type: "string" },
                        c_CompanyName: { type: "string" },
                        c_EmailId: { type: "string" }
                    }
                }
            },

            pageSize: 10
        },

        pageable: true,
        sortable: true,
        filterable: true,
        height: 500,

        columns: [
            { field: "c_UserId", title: "User ID", width: 120 },
            { field: "c_UserName", title: "User Name" },
            { field: "c_CompanyName", title: "Company Name" },
            { field: "c_EmailId", title: "Email" },
            {
                title: "Action",
                template: "<button class='k-button k-button-md k-rounded-md k-button-solid k-button-solid-danger' onclick='deleteUser(#=c_UserId#)'>Delete</button>",
                width: 120
            }
        ]

    });

});

function deleteUser(id) {

    if (confirm("Are you sure you want to delete this user?")) {

        $.ajax({
            url: '/Admin/DeleteUser/' + id,
            type: 'POST',
            success: function (res) {

                alert("User deleted successfully");

                $("#grid").data("kendoGrid").dataSource.read();

            },
            error: function () {
                alert("Error deleting user");
            }
        });

    }

}

</script>
}